/*      Responsive Web Design      */
body {
  background: #EAEBEE;
  min-height: 100vh;
}
@media only screen and (max-width: 375px) {
  body {
    background: #EAEBEE;
    min-height: 100vh;
  }
}

.main {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: #EAEBEE;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .notification-fixed {
  width: 100%;
  height: 60px;
  top: 0%;
  position: fixed;
}
@media only screen and (max-width: 768px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}

.notification-fixed2 {
  width: 20%;
  height: auto;
  top: 5%;
  position: fixed;
  z-index: 2;
  float: right;
}

.alertEliminar {
  width: 100%;
  height: 30px;
  top: 6.2%;
  position: fixed;
}

.mainMenu {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .mainMenu {
    display: block;
  }
}

.flex {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin-top: 100px;
}

.imgHome {
  margin-top: 2%;
}

.category {
  width: 400px;
}

.divBack {
  margin-left: 20%;
  text-align: right;
}

.navBarHome {
  background: #F4F4F4;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 6px 15px 0 rgba(0, 0, 0, 0.14);
  position: fixed;
  z-index: 1;
}
@media only screen and (max-width: 375px) {
  .navBarHome {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.navBar {
  background: #fff;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 6px 15px 0 rgba(0, 0, 0, 0.14);
  position: fixed;
  z-index: 1;
}

.logo {
  width: 60px;
  height: auto;
  margin-left: 70px;
}

.divBtn {
  text-align: center;
}

.btnBlog {
  width: 300px;
  height: 50px;
  background: #499fe6;
  border: 0;
  border-radius: 50px;
  box-shadow: 5px 6px 15px 0 rgba(0, 0, 0, 0.14);
  font-family: monospace;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  margin-top: 4%;
}
.btnBlog:hover {
  background: #fff;
  color: #499fe6;
}

.opCategory {
  width: 100%;
  height: 75px;
  background: #fff;
  color: #499fe6;
  font-size: 25px;
  font-family: monospace;
  border-radius: 50px;
  border: 0;
  box-shadow: 5px 6px 15px 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;
}
.opCategory:hover {
  background: #499fe6;
  color: #fff;
}

.back {
  text-decoration: none;
  font-size: 20px;
  color: #499fe6;
  cursor: pointer;
}

.articulo {
  width: 25%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 0.5px solid #CECECE;
  margin: 20px 50px;
  background: #FFFFFF;
  box-shadow: 5px 6px 15px 0 rgba(0, 0, 0, 0.14);
}

.sidebar {
  width: 300px;
  min-height: 100vh;
  background: #fff;
  padding: 10px;
  box-shadow: 5px 6px 15px 0 rgba(0, 0, 0, 0.14);
}
@media only screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    min-height: 0;
  }
}

.introDetArtic {
  margin: 10px;
  max-width: 400px;
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
}

.contDetArtic {
  font-family: montserrat, sans-serif;
  margin: 10px;
  max-width: 700px;
}

a {
  text-decoration: none;
}

.select, select {
  width: 100%;
}

#index {
  margin-top: 0;
}

.divInfo {
  margin-top: 100px;
  min-width: 90%;
}
@media only screen and (max-width: 680px) {
  .divInfo #img {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .divInfo #titulo, .divInfo #author, .divInfo #fecha, .divInfo #nombre, .divInfo #email, .divInfo #apellidos {
    display: none;
  }
}
@media only screen and (max-width: 1400px) {
  .divInfo #introduccion, .divInfo #contenido {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .divInfo {
    display: block;
    margin-top: 0;
  }
  .divInfo .divTabla table tbody tr td img {
    max-width: 50px;
  }
  .divInfo table {
    min-width: 100%;
    margin-right: 20px;
  }
  .divInfo table #introduccion, .divInfo table #contenido {
    display: none;
  }
}

.divTabla {
  min-width: 70%;
  height: auto;
  padding: 10px;
}

.botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  margin-top: 20px;
}
.botones button {
  width: 200px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  background: #4895d5;
  border: 0;
  box-shadow: 5px 6px 15px 0 rgba(0, 0, 0, 0.14);
  font-family: montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  z-index: 100;
}
@media only screen and (max-width: 768px) {
  .botones {
    display: flex;
    justify-content: space-around;
    z-index: 1;
  }
}

.colorIconDel {
  color: #fe2f2f;
}

.posArticulo {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.ml {
  margin-right: 80px;
}

.pt {
  padding-top: 100px;
}
@media only screen and (max-width: 768px) {
  .pt {
    padding-top: 80px;
  }
}

.commentDetArtic {
  width: 100%;
  background: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.areaComentario {
  border-radius: 10px;
  padding: 10px;
  background: #e1c39c;
}

.comentario {
  max-width: 500px;
  text-align: left;
}

.formulario {
  margin-top: 70px;
}

.btnAdmin {
  width: 200px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  background: #95BBDB;
  border: 0;
  box-shadow: 5px 6px 15px 0 rgba(0, 0, 0, 0.14);
  font-family: montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  z-index: 100;
}
.btnAdmin:hover {
  background: #fff;
  color: #95BBDB;
}

.iconEdit {
  color: #cece2a;
  padding-left: 5px;
}

.iconDel {
  color: #ce0101;
  padding-left: 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main form {
  min-width: 500px;
}
@media only screen and (max-width: 375px) {
  .main form {
    min-width: 100%;
  }
}
.main form .field img {
  max-width: 117px;
}
.main form .field .control {
  height: auto;
}
.divTabla table {
  width: 100%;
  max-height: 1000px;
  box-shadow: 5px 6px 15px 0 rgba(0, 0, 0, 0.14);
  border-radius: 10px;
}
.divTabla table tbody {
  height: 500px;
  overflow-y: auto;
  /* Trigger vertical scroll    */
  overflow-x: scroll;
}
.divTabla table tbody tr td img {
  max-width: 138px;
}

.menu-list li a {
  display: flex;
}
.menu-list li a i {
  margin-right: 10px;
}

.alertEliminar {
  z-index: 3;
}

.cursor {
  cursor: pointer;
  z-index: 4;
}

.divEditForm {
  display: flex;
  max-width: 800px;
  background: #fff;
  box-shadow: 5px 6px 15px 0 rgba(0, 0, 0, 0.14);
  border-radius: 5px;
}
.divEditForm .formPart1 {
  padding: 20px;
  width: 50%;
  height: auto;
}
.divEditForm .formPart1 .field {
  width: 100%;
}
.divEditForm .formPart2 {
  padding: 20px;
  width: 50%;
  height: auto;
  box-sizing: border-box;
}
.divEditForm .formPart2 .field {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
