@import "components/mixings";
@import "components/body";
@import "components/title";


.divBack{
    margin-right: 2%;
}
.navBarHome{
    @include navBarHome;
}
.navBar {
    @include navBar;
}
.logo{
    @include logo;
}
.divBtn{
    @include divBtn;
}

.btnBlog{
    @include btnBlog;
}
.opCategory{
    @include opCategory;
}
.back{
    @include back;
}
.articulo{
    @include articulo;
}
.sidebar{
    @include sidebar;
}
.introDetArtic{
    @include introDetArtic;
}
.contDetArtic{
    @include contDetArtic;
}
a{
    text-decoration: none;
}
.select, select{
    width: 100%;
}
.divInfo{
    margin-top: 100px;
    width: 100%;
    display: flex;
}
.divTabla{
    min-width: 70%;
    height: auto;
    padding: 10px;
}
.botones{
    width: 30%;
    height: auto;
    padding: 70px 10px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}
.colorIconDel{
    color: rgb(254, 47, 47);
}
.posArticulo{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.ml{
    margin-right: 80px;
}
.pt{
    padding-top: 100px
}
.commentDetArtic{
    width: 100%;
    background: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.areaComentario{
    border-radius: 10px;
    padding: 10px;
    background:  rgb(225, 195, 156);
}
.comentario{
    max-width: 500px;
    text-align: left;
}
.formulario{
    margin-top: 70px;
}
.btnAdmin{
    margin-top: 30%;
    width: 200px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    background: #95BBDB;
    border: 0;
    box-shadow: 5px 6px 15px 0 rgba(0,0,0,0.14);
    font-family: montserrat, sans-serif;
    color: #fff;
    font-size: 16px;
    z-index: 100;
    &:hover{
        background: #fff;
        color: #95BBDB;
    }
}

.iconEdit{
    color: rgb(206, 206, 42);
    padding-left: 5px;
}
.iconDel{
    color: rgb(206, 1, 1);
    padding-left: 10px;
}
.main{
    form{
        min-width: 500px;
        .field{
            img{
                max-width: 117px;
            }
            .control{
                height: auto;
                textarea{

                }
            }
        }
    }
}
.divTabla {
    table{
        width: 100%;
        max-height: 1000px;
        box-shadow: 5px 6px 15px 0 rgba(0,0,0,0.14);
        border-radius: 10px;
        
        tbody{
            height: 500px;
            overflow-y: auto;    /* Trigger vertical scroll    */
            overflow-x: hidden;
            tr{
                td{
                    img{
                        max-width: 138px;
                    }
                }
            }
        }
    }
}

.menu-list{
    li{

        a{
            display: flex;
            i{
                margin-right: 10px;
            }
        }
    }
}
.alertEliminar{
    z-index: 3;
}
.cursor{
    cursor: pointer;
    z-index: 4;
}


.divEditForm{
    display: flex;
    max-width: 800px;
    background: #fff;
    box-shadow: 5px 6px 15px 0 rgba(0,0,0,0.14);
    border-radius: 5px;
    .formPart1{
        padding: 20px;
        width: 50%;
        height: auto;
        .field{
            width: 100%;
        }
    }
    .formPart2{
        padding: 20px;
        width: 50%;
        height: auto;
        box-sizing: border-box;
        .field{
            width: 100%;
            
        }
    }
}